<#include "header.html">

<section class="container">
	<h3>${title ! "..."}</h3>
	<p>${detail ! "" }</p>
	<#if member?? >
		<a class="btn btn-light" href="/member-profile">Profile</a>
	<#else>
		<a class="btn btn-light" href="/member-register">Register</a>
		<a class="btn btn-light" href="/member-login">Log In</a>
		<a class="btn btn-light" href="/member-recover">Recover Password</a>
	</#if>
</section>
<style>
	.container {
		margin-top: 2rem;
	}
	p {
		font-size: 1.15rem;
	}
</style>

<#include "footer.html">
