<#include "header.html">

<section class="container">
	<form method="post">
		<h3>Recover Password</h3>
		<section class="form-floating">
			<input name="email"
				   type="email"
				   id="email"
				   class="form-control"
				   autocomplete="off"
				   autofocus
				   required
				   placeholder="Your Email" />
			<label for="email">Your Email</label>
		</section>

		<button class="btn btn-primary">Send Reset Code</button>
		<a class="btn btn-light" href="/">Cancel</a>
	</form>
</section>

<style>
	form {
		max-width: 20rem;
		margin: 2rem auto;
		padding: 1.5rem;
		border-radius: .75rem;
		border: 1px solid #eee;
		box-shadow: 0 .075rem .1rem #999;
	}
</style>

<#include "footer.html">

